body{
	margin:0px;
	padding:0px;
}

.header{
	border-bottom: 2px solid #dc0101
	}
.page{ 
    }
.footer{
	
}
	
.column{
	border: 1px solid black;
	width: 1000px;
	margin: 0px auto;
	}
.page .column{
	height:100vh;
}
#logo-holder {
	width:100px
}
#logo-holder{
	flex-grow:1;
}
#social-holder{
	flex-grow:1;
text-align:right;
}
#social-holder a{
	text-decoration: none;	
}
	
	
#social-holder a img {
	height: 30px;
	width: 30px;	
	margin: 5px;
	
}
#main-menu{
	display:flex;
}
#main-menu a {
	flex-grow:1;
	text-align:center;
	display:block;
	padding:10px 0px;
	text-decoration: none;
	color:#dc0101;
	transition: 300ms;
}
#main-menu a.active,
#main-menu a:hover {
	background: #dc0101;
	color :#ffffff;
}

    




